/*selector universal*/
*{
    padding: 0;
    margin: 0;
}

/*selector id*/
#contenedor{
    width: 900px;
    height: 1000px;
    background-color: bisque;
    margin: auto;
}

#cabecera{
    height: 15%;
    background-color: rgb(3, 142, 3);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

#barraDeNavegacion{
    height: 5%;
    background-color: rgb(3, 142, 3);
    border: 2px solid white;
}

#seccion{
    height: 70%;
    background-color: rgb(255, 255, 255);
    border: 33px solid rgb(3, 142, 3);
    display: block;
    align-items: center;
}

#pieDePagina{
    height: 10%;
    background-color: rgb(253, 3, 3,0.927);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}


.encabezado{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}

.barraNavegacion{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    color: white;
}

.pieNavegacion{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    color: white;
}

.texto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    font-size: large;
}

.articulo{
    margin: auto;
    padding: 10px;
}

/*selector de etiqueta*/
ul{
   text-align: center;
}

li{
   display:inline;
   padding-left: 6px;
   padding-right: 6px;
}

li a:hover{
   color: rgb(211, 55, 55);
   text-decoration: none;
   list-style: none;
}

img{
   width: 100px;
   height: 100px;
   border: 1px solid black;
   margin-left: 5px;
   margin-right: 5px;
}